# Python virtual environment
.venv
# Python cache files
__pycache__/
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Pytest cache
.cache/

resources/data/documents/**
resources/data/embeddings/**

# personal account configuration files
.env.iva